<p>
  <mat-icon>face</mat-icon>
  <span>Hey, my name is&nbsp;</span>
  <span class="highlight">Ben</span>
  <span>.&nbsp;</span>
  <span>I've been a web developer since&nbsp;</span>
  <span class="highlight">2015</span>
  <span>.</span>
</p>
<p>
  <mat-icon>code</mat-icon>
  <span> It's written in&nbsp;</span>
  <span class="highlight">Angular&nbsp;</span>
  <span> via the&nbsp;</span>
  <span class="highlight">angular cli</span>
  <span>, with</span>
  <span class="highlight">Typescript&nbsp;</span>
  <span>and&nbsp;</span>
  <span class="highlight">SCSS</span>
  <span>.</span>
</p>
<p>
  <mat-icon>dns</mat-icon>
  <span>It's hosted through&nbsp;</span>
  <span class="highlight">AWS Lightsail&nbsp;</span>
  <span>with&nbsp;</span>
  <span class="highlight">Route 53</span>
  <span>.</span>
</p>
<p>
  <mat-icon fontIcon="edit"></mat-icon>
  <span>I've added a </span>
  <span class="highlight">custom-built LLM chatbot&nbsp;</span>
  <span>with&nbsp;</span>
  <span class="highlight">Amazon Bedrock&nbsp;</span>
  <span>to help answer any questions.</span>
</p>

<p>&nbsp;</p>

<app-resume></app-resume>
