<h2>Terms and Conditions</h2>
<div class="terms">
  @if (!displayInputTextArea) {
    <pre>{{terms}}</pre>
  }

  @if (displayInputTextArea) {
    <button mat-raised-button (click)="displayInputTextArea=false">
      Show Terms and Conditions
    </button>
  }
</div>

<textarea
  id="input-textarea"
  [(ngModel)]="currentText"
  [style.backgroundColor]="displayInputTextArea ? 'white' : 'black'"
  (focus)="displayInputTextArea = true"
  >
</textarea>

<button mat-raised-button [disabled]="currentText !== terms" (click)="submit()">Copy Terms and Conditions To Continue</button>
