<mat-toolbar>
  <span>Benjamin Yocum</span>
  <span class="right-spacer"></span>
  <button mat-button [routerLink]="['about']" aria-label="About Ben Yocum">
    About
  </button>
  <button mat-button [routerLink]="['resume']" aria-label="See my resume">
    Resume
  </button>
  <button mat-button [routerLink]="['bad-ui']" aria-label="Some terrible design ideas">
    Bad UI
  </button>
</mat-toolbar>

<span class="github-ribbon">
  <a href="https://github.com/ben-yocum/com-benyocum">Fork me on GitHub</a>
</span>

<div id="main-container">
  <router-outlet></router-outlet>
</div>
