<mat-toolbar>
  <span>Benjamin Yocum</span>
  <span class="right-spacer"></span>
<!--  <div class="toolbar-nav-links">-->
<!--    <button mat-button [routerLink]="['about']" aria-label="About Ben Yocum">-->
<!--      About-->
<!--    </button>-->
<!--    <button mat-button [routerLink]="['resume']" aria-label="See my resume">-->
<!--      Resume-->
<!--    </button>-->
<!--    <button mat-button [routerLink]="['bad-ui']" aria-label="Some terrible design ideas">-->
<!--      Bad UI-->
<!--    </button>-->
<!--  </div>-->
<!--  <button mat-icon-button class="toolbar-hamburger-button" [matMenuTriggerFor]="toolbarMenu" aria-label="Toggle navigation menu">-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
<!--  <mat-menu #toolbarMenu="matMenu">-->
<!--    <button mat-menu-item [routerLink]="['about']" aria-label="About Ben Yocum">-->
<!--      About-->
<!--    </button>-->
<!--    <button mat-menu-item [routerLink]="['resume']" aria-label="See my resume">-->
<!--      Resume-->
<!--    </button>-->
<!--    <button mat-menu-item [routerLink]="['bad-ui']" aria-label="Some terrible design ideas">-->
<!--      Bad UI-->
<!--    </button>-->
<!--    <a mat-menu-item class="source-code-link" href="https://github.com/ben-yocum/com-benyocum" aria-label="Source code on GitHub">-->
<!--      Source Code-->
<!--    </a>-->
<!--  </mat-menu>-->
</mat-toolbar>

<span class="github-ribbon">
  <a href="https://github.com/ben-yocum/com-benyocum">Fork me on GitHub</a>
</span>

<div id="main-container">
  <router-outlet></router-outlet>
</div>
