mat-toolbar {
  padding-right: 150px;
}

.right-spacer {
  flex: 1 1 auto;
}

#main-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
